<div>
<p>Welcome <%= link_to current_user.email, current_user %>!</p>
		<%= link_to "Followers", :followers %>
		<%= link_to "Who I'm Following", :following %>
</div>

<br>

<p><strong>Shout!</strong></p>
<%= form_for @text_subject do |form| %>
  <%= form.text_area :body, placeholder: "Compose new Shout..." %>
  <%= form.submit "Shout" %>
<% end %>