<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <%= link_to "Sign Out", :session, method: :delete %>
<% else %>
  <%= link_to "Sign In", root_path %>
  <%= link_to "Sign Up", sign_up_path %>
<% end %>
<%= yield %>
</body>
</html>
